<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="assets/css/styles.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  <title>Responsive Login Form Sign In Sign Up</title>
</head>

<body>
  <div style="padding: 20px; text-align: center; font-size: x-large;">
    <img src="{{ url_for('static', filename='kjsieit-logo.svg') }}" style="padding: 1px;" height="150px" width="150px"
      alt="" />
  </div>

  <div class="login">
    <div class="login__content">
      <div class="login__img" style="padding-top: 80px;">
        <img src="{{ url_for('static', filename='puppy4.png') }}" alt="" />
      </div>

      <div class="login__forms">
        <form action="{{ url_for('login') }}" method="post" class="login__registre" id="login-in">
          <h1 class="login__title">Sign In</h1>

          <div class="login__box">
            <i class="bx bx-user login__icon"></i>
            <input type="text" name="email" placeholder="Somaiya Email" class="login__input" />
          </div>

          <div class="login__box">
            <i class="bx bx-lock-alt login__icon"></i>
            <input type="password" name="password" placeholder="Password" class="login__input" />
          </div>


          <button class="login__button" type="submit">Sign In</button>            {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                {{ message }}
              {% endfor %}
            
          {% endif %}
        {% endwith %}

          <div>
            <span class="login__account">Don't have an Account?</span>
            <span class="login__toggle" id="sign-up">Sign Up</span>

          </div>
        </form>

        <form action="{{ url_for('register') }}" method="post" class="login__create none" id="login-up" enctype="multipart/form-data">
          <h1 class="login__title">Create Account</h1>

          <div class="login__box">
            <i class="bx bx-user login__icon"></i>
            <input type="text" name="name" placeholder="Full Name" class="login__input" />
          </div>

       

          <div class="login__box">
            <i class="bx bx-at login__icon"></i>
            <input type="text" name="email" placeholder="Somaiya Email" class="login__input" />
          </div>
          <div class="login__box">
            <i class="bx bx-at login__icon"></i>
            <input type="text " name="InstaId" placeholder="InstaId" class="login__input" />
          </div>
          <div class="login__box">
            
              <div><input type="radio" id="male" name="gender" value="male" required />
                <label for="male">Male</label>
              
                <input type="radio" id="female" name="gender" value="female" required />
                <label for="female">Female</label></div>
          </div>

          <div class="login__box">
            <i class="bx bx-lock-alt login__icon"></i>
            <input type="password" name="password" placeholder="Create Password" class="login__input" />
          </div>

          <div class="login__box">
            <label for="profile-picture" class="login__icon"><i class="bx bx-image"></i></label>
            <input type="file" id="profile-picture" name="profile_picture" placeholder="profile-picture" accept="image/*" class="login__input" required />
          </div>
          <button type="submit" class="login__button">Sign Up</button>





          <div>
            <span class="login__account">Already have an Account?</span>
            <span class="login__toggle" id="sign-in">Sign In</span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--===== MAIN JS =====-->
  <script src="assets/js/main.js"></script>
  <script>
    document.getElementById("sign-up").addEventListener("click", function () {
      document.getElementById("login-in").classList.add("none");
      document.getElementById("login-up").classList.remove("none");
    });

    document.getElementById("sign-in").addEventListener("click", function () {
      document.getElementById("login-in").classList.remove("none");
      document.getElementById("login-up").classList.add("none");
    });

    console.log("Chirag Rohada")
  </script>
</body>

</html>